USE [master]
GO
/****** Object:  Database [ERPproject]    Script Date: 3/1/2026 6:23:29 PM ******/
CREATE DATABASE [ERPproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERP_project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ERP_project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ERP_project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ERP_project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERPproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERPproject]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_id] [int] NOT NULL,
	[Product_name] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Cost] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_details]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_details](
	[Order_detail_id] [int] NOT NULL,
	[Order_id] [int] NULL,
	[Product_id] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TotalRevenue]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_TotalRevenue] as
select
	sum(od.Quantity * p.Price) as TotalRevenue
from Order_details od
join Products p on od.Product_id = p.Product_id;
GO
/****** Object:  View [dbo].[vw_Profit]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_Profit] as
select
p.Product_id,
p.Product_name,
sum(od.Quantity * (p.Price - p.Cost))
as Profit
from Order_details od
join Products p on od.Product_id = p.Product_id
group by p.Product_id, p.Product_name;
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Product_id] [int] NOT NULL,
	[Stock_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LowStock]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_LowStock] as
select 
    p.Product_id,
    p.Product_name,
    i.Stock_quantity
from Products p
join Inventory i on p.Product_id = i.Product_id
where Stock_quantity < 10;
GO
/****** Object:  View [dbo].[vw_ProductSummary]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ProductSummary] AS
SELECT 
    p.Product_id,
    p.Product_name,
    
    -- Total Revenue ανά προϊόν
    ISNULL(SUM(od.Quantity * p.Price), 0) AS TotalRevenue,
    
    -- Profit ανά προϊόν
    ISNULL(SUM(od.Quantity * (p.Price - p.Cost)), 0) AS Profit,
    
    -- Stock Quantity από Inventory
    ISNULL(i.Stock_quantity, 0) AS StockQuantity,
    
    -- Low Stock flag (<10 units)
    CASE 
        WHEN ISNULL(i.Stock_quantity, 0) < 10 THEN 1
        ELSE 0
    END AS LowStockFlag

FROM Products p
LEFT JOIN Order_details od ON p.Product_id = od.Product_id
LEFT JOIN Inventory i ON p.Product_id = i.Product_id

GROUP BY 
    p.Product_id, 
    p.Product_name,
    i.Stock_quantity;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_id] [int] NOT NULL,
	[Customer_name] [varchar](50) NULL,
	[City] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/1/2026 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_id] [int] NOT NULL,
	[Order_date] [date] NULL,
	[Customer_id] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([Customer_id], [Customer_name], [City]) VALUES (1, N'Tech Solutions SA', N'Athens')
INSERT [dbo].[Customers] ([Customer_id], [Customer_name], [City]) VALUES (2, N'Digital Market Ltd', N'Thessaloniki')
INSERT [dbo].[Customers] ([Customer_id], [Customer_name], [City]) VALUES (3, N'Smart Retail OE', N'Patra')
GO
INSERT [dbo].[Inventory] ([Product_id], [Stock_quantity]) VALUES (1, 15)
INSERT [dbo].[Inventory] ([Product_id], [Stock_quantity]) VALUES (2, 200)
INSERT [dbo].[Inventory] ([Product_id], [Stock_quantity]) VALUES (3, 120)
GO
INSERT [dbo].[Order_details] ([Order_detail_id], [Order_id], [Product_id], [Quantity]) VALUES (1, 101, 1, 2)
INSERT [dbo].[Order_details] ([Order_detail_id], [Order_id], [Product_id], [Quantity]) VALUES (2, 101, 2, 5)
INSERT [dbo].[Order_details] ([Order_detail_id], [Order_id], [Product_id], [Quantity]) VALUES (3, 102, 3, 3)
GO
INSERT [dbo].[Orders] ([Order_id], [Order_date], [Customer_id]) VALUES (101, CAST(N'2025-01-05' AS Date), 1)
INSERT [dbo].[Orders] ([Order_id], [Order_date], [Customer_id]) VALUES (102, CAST(N'2025-01-12' AS Date), 2)
INSERT [dbo].[Orders] ([Order_id], [Order_date], [Customer_id]) VALUES (103, CAST(N'2025-02-02' AS Date), 3)
GO
INSERT [dbo].[Products] ([Product_id], [Product_name], [Category], [Price], [Cost]) VALUES (1, N'Laptop Pro 15', N'Electronics', CAST(1200.00 AS Decimal(10, 2)), CAST(850.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Product_id], [Product_name], [Category], [Price], [Cost]) VALUES (2, N'Wireless Mouse', N'Accessories', CAST(40.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Product_id], [Product_name], [Category], [Price], [Cost]) VALUES (3, N'Mechanical Keyboard', N'Accessories', CAST(90.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Product_id])
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD FOREIGN KEY([Order_id])
REFERENCES [dbo].[Orders] ([Order_id])
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Product_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customers] ([Customer_id])
GO
USE [master]
GO
